*/__pycache__/*
MNIST/*
runs/*
data/*
!data/.keep
!experiments/data/.keep
!experiments/output/.keep
GA/data/*
GA2/data/*
visualizations/*
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
BMM_SEQ_STIM*
*NASS*
*spike_times_*
*DSPTS_*
*SPTS_*
*X_*
tmp/*.p
assets/*
videos/*
*/wandb
*/__pycache__/*
*tar.gz
*.pth
*.png
*.npy
*.so
*.out
dw_*
*.pkl
*.pdf
*.png